* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #15171B;
}

#rootcharpage {
    width: 100%;
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

/* Navigation */ 

#rootcharpage masterheading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    z-index: 9999;
}

#rootcharpage .microheading {
    width: 100%;
    padding: 10px 0px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#rootcharpage .navigation {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 15px;
}


#rootcharpage .logo {
    width: 250px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 40px;
    margin-left: 20px;
}

#rootcharpage .menubar {
    font-family: 'Old Standard TT', serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-right: 40px;
    margin-top: 5px;
    opacity: 0.8;
    text-decoration: none;
    color: #ffff;
}

#rootcharpage a:hover{
    color: red;
    text-decoration: underline;
}
/* Main Charge */

#rootcharpage charContainer {
    width: 100%;
    padding: 0px 100px 0px 100px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    position: relative;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rootcharpage .charrootHeader {
    width: 100%;
    z-index: 2;
    margin-top: 50px;
    position: relative;
}

#rootcharpage .charHidden {
    height: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#rootcharpage .charHeader {
    font-family: 'Arvo', serif;
    color: brown;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 112%;
    font-size: 60px;
}

#rootcharpage .charSub {
    font-family: 'Newsreader', serif;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    color: #DDDDDD;
    font-size: 26px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 30px;
    opacity: 0.8;
}

/* Grid */

#rootcharpage charGrid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

#rootcharpage .gridFigures {
    order: 4;
}

/* Footer */

#rootcharpage rootfooter {
    text-align: center;
    width: 100%;
    z-index: 5;
    padding: 30px 100px;
    background-color: #000000;
}

#rootcharpage .rootfooterimg{
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#rootcharpage .footer {
    text-align: center;
    font-size: 14px;
    color: #777777;
    padding: 0 20px;
    width: 500px;
    margin: 0 auto;
}

#rootcharpage .footer a{
        color: blue;
        opacity: 0.9;
        text-decoration: none;
}